<div class="container">
    <div class="page-header">
        <h1>{{contact}}</h1>
    </div>
    <div class="row-fluid">
        <!-- Start: CONTACT US FORM -->
        <div class="span4 offset1">
            <div class="page-header">
                <h2>{{quickMsg}}</h2>
            </div>
            <form class="form-contact-us">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="inputName" placeholder={{qMsg.name}}>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder={{qMsg.email}}>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea id="inputMessage" placeholder={{qMsg.message}}></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary btn-large" value={{qMsg.send}}>
                    </div>
                </div>
            </form>
        </div>
        <!-- End: CONTACT US FORM -->
        <!-- Start: OFFICES -->
        <div class="span5 offset1">
            <div class="page-header">
                <h2>{{rContact.title}}</h2>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <p>{{rContact.name}}</p>
                    <p>{{rContact.qq}}</p>
                    <p>{{rContact.email}}</p>
                    <p>
                        {{rContact.weibo}}
                        <a href="http://weibo.com/dongdongcpk" target="_blank">
                            {{rContact.weiboContent}}
                        </a>
                    </p>
                </div>
                <div class="span6">
                    <img src="img/contribution.png">
                </div>
            </div>
            <div>
                <p>
                    {{rContact.p1}}
                </p>
                <p>
                    {{rContact.p2}}
                </p>
            </div>
        </div>
        <!-- End: OFFICES -->
    </div>
</div>