<div class="container">
    <div class="page-header">
        <h1>{{contact}}</h1>
    </div>
    <div class="row-fluid">
        <!-- Start: CONTACT US FORM -->
        <div class="span4 offset1">
            <div class="page-header">
                <h2>{{quickMsg}}</h2>
            </div>
            <form class="form-contact-us">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" required id="inputName" placeholder={{qMsg.name}} ng-model="msg.name">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="email" required id="inputEmail" placeholder={{qMsg.email}} ng-model="msg.email">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea id="inputMessage" required placeholder={{qMsg.message}} ng-model="msg.message"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a data-target="#sendMsg" data-toggle="modal">
                            <input type="submit" class="btn btn-primary btn-large" value={{qMsg.send}} ng-click="sendMsg()">
                        </a>
                        <!-- Start: Modal -->
                        <div class="modal hide fade" id="sendMsg" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">消息已发送</h3>
                            </div>
                            <div class="modal-body">
                                正在马不停蹄地发往服务器...
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                        <!-- End: Modal -->
                    </div>
                </div>
            </form>
        </div>
        <!-- End: CONTACT US FORM -->
        <!-- Start: OFFICES -->
        <div class="span5 offset1">
            <div class="page-header">
                <h2>{{rContact.title}}</h2>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <p>{{rContact.name}}</p>
                    <p>{{rContact.qq}}</p>
                    <p>{{rContact.email}}</p>
                    <p>
                        {{rContact.weibo}}
                        <a href="http://weibo.com/dongdongcpk" target="_blank">
                            {{rContact.weiboContent}}
                        </a>
                    </p>
                </div>
                <div class="span6">
                    <img src="img/contribution.png">
                </div>
            </div>
            <div>
                <p>
                    {{rContact.p1}}
                </p>
                <p>
                    {{rContact.p2}}
                </p>
            </div>
        </div>
        <!-- End: OFFICES -->
    </div>
</div>