<div class="container">
    <div class="page-header">
        <h1>扑扑的照片墙 <small>咳..咳 请自备纸巾(→_→)</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span3">
                    <a data-target="#portfolioModal1" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_001.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_001.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
                <li class="span3">
                    <a data-target="#portfolioModal2" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_002.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_002.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
                <li class="span3">
                    <a data-target="#portfolioModal3" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_003.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_003.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
                <li class="span3">
                    <a data-target="#portfolioModal4" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_004.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_004.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
            </ul>
            <ul class="thumbnails">
                <li class="span3">
                    <a data-target="#portfolioModal5" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_005.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_005.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
                <li class="span3">
                    <a data-target="#portfolioModal6" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_006.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_006.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
                <li class="span3">
                    <a data-target="#portfolioModal7" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_007.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_007.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
                <li class="span3">
                    <a data-target="#portfolioModal8" class="thumbnail" data-toggle="modal">
                        <img src="img/photos/photo_008.jpg">
                    </a>
                    <!-- Start: Modal -->
                    <div class="modal hide fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="portfolioList" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Work title</h3>
                        </div>
                        <div class="modal-body">
                            <div class="center-align">
                                <img src="img/photos/photo_008.jpg" class="bottom-space-less thumbnail" alt="image name">
                            </div>
                            <p>
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                                Work description.Work description.Work description.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                    <!-- End: Modal -->
                </li>
            </ul>
            <div class="pagination pagination-centered">
                <ul>
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">6</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>