<div class="container">
    <div class="row bottom-space">
        <div class="span12">
            <div class="page-header">
                <h1>Product <small>Caption for the product</small></h1>
            </div>
        </div>
        <div class="span12 center-align">
            <embed height="452" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://share.acg.tv/flash.swf" flashvars={{videoId}} pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
            <!--<embed height="452" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://share.acg.tv/flash.swf" flashvars="aid=2274317&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>-->
        </div>
    </div>
    <div class="row">
            <div class="span10 offset1">
                <p>
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                </p>
                <p>
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                </p>
                <p>
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                    Detailed description about the product that how it makes the customer's life easy.
                </p>
            </div>
        </div>
</div>